body {
  display: grid;
  place-content: center;
  background-color: hsl(36, 100%, 99%);
}

.overall-container {
  font-family: "Inter", sans-serif;
  width: 1152px; /* 80% of given body width */
  padding: 100px;
}

p {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
}

.card {
  width: 355px;
  display: flex;
  flex-direction: row;
  height: 120px;
  align-items: center;
  margin-top: 50px;
}

.card-ul {
  list-style-type: none;
  padding: 0;
  margin-left: 25px;
  margin-bottom: 30px;
}

.card-heading {
  font-weight: 700;
  color: hsl(5, 85%, 63%);
  font-size: 35px;
  margin-bottom: -10px;
  margin-top: 25px;
}

.card-subheading {
  font-weight: 800;
  color: hsl(240, 100%, 5%);
  font-size: 18px;
  margin-bottom: 15px;
}

.card-image {
  height: 130px;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.heading {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  width: 100%;
}

.heading-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.heading-li {
  margin-left: 40px;
  color: hsl(236, 13%, 42%);
  font-weight: 400;
  font-size: 15px;
}

.main-img {
  width: 100%;
  object-fit: cover;
  margin-top: 50px;
  height: 300px;
}

h1 {
  margin-top: 15px;
  font-weight: 800;
  font-size: 60px;
  color: hsl(240, 100%, 5%);
  line-height: 60px;
}

.read-more-button {
  background-color: hsl(5, 85%, 63%);
  color: hsl(240, 100%, 5%);
  font-size: 15px;
  letter-spacing: 4px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  border: 0px;
  width: 50%;
  height: 50px;
  margin-top: 20px;
}

.read-more-para {
  line-height: 25px;
  width: 90%;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: -30px;
}
